name: timezones

on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Create secret directory
        run: mkdir -p lib/src/consts/

      - name: Create secret file
        uses: "finnp/create-file-action@master"
        env:
          FILE_NAME: "packages/time_zone_api/lib/src/consts/secrets.dart"
          FILE_BASE64: ${{ secrets.TIME_ZONE_API_SECRET }}
      - uses: subosito/flutter-action@v1.5.0

      - name: Install Dependencies
        run: flutter packages get

      - name: Format
        run: flutter format --set-exit-if-changed lib test

      - name: Analyze
        run: flutter analyze lib test

      - name: Run tests
        run: flutter test --no-pub --coverage --test-randomize-ordering-seed random

      - name: Check Code Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
        with:
          min_coverage: 80
