name: time_zone_api

on:
  pull_request:
    paths:
      - "packages/time_zone_api/**"
      - ".github/workflows/time_zone_api.yaml"

jobs:
  build:
    defaults:
      run:
        working-directory: packages/time_zone_api
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      #- uses: subosito/flutter-action@v1.5.0

      - name: Create test file
        uses: "finnp/create-file-action@master"
        env:
          FILE_NAME: "lib/src/consts/test.dart"
          FILE_BASE64: "test"

      #- name: Create secret file
       # uses: "finnp/create-file-action@master"
        #env:
         # FILE_NAME: "lib/src/consts/secrets.dart"
        #  FILE_BASE64: ${{ secrets.TIME_ZONE_API_SECRET }}


#      - name: Decode secrets
 #       run: echo $TIME_ZONE_API_SECRET | base64 -d > lib/src/consts/secrets.dart
  #      env:
   #       TIME_ZONE_API_SECRET: ${{ secrets.TIME_ZONE_API_SECRET }}

      - name: Install Dependencies
        run: flutter packages get

      - name: Format
        run: flutter format --set-exit-if-changed lib test

      - name: Analyze
        run: flutter analyze lib test

      - name: Run tests
        run: flutter test --no-pub --coverage --test-randomize-ordering-seed random

      - name: Check Code Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
        with:
          path: packages/time_zone_api/coverage/lcov.info
