name: time_zone_repository
on:
  pull_request:
    paths:
      - "packages/time_zone_repository/**"
      - ".github/workflows/time_zone_repository.yaml"

jobs:
  build:
    defaults:
      run:
        working-directory: packages/time_zone_repository

    runs-on: ubuntu-latest

    container:
      image: google/dart:2.12

    steps:
      - uses: actions/checkout@v2

      - name: Create secret directory
        run: mkdir -p ../time_zone_api/lib/src/consts/

      - name: Create secret file
        uses: "finnp/create-file-action@master"
        env:
          FILE_NAME: "packages/time_zone_api/lib/src/consts/secrets.dart"
          FILE_BASE64: ${{ secrets.TIME_ZONE_API_SECRET }}

      - uses: subosito/flutter-action@v1.5.3
        with:
          flutter-version: 2.4.0-4.2.pre
          channel: "beta"

      - name: Install Dependencies
        run: flutter packages get

      - name: Format
        run: flutter format --set-exit-if-changed lib test

      - name: Analyze
        run: flutter analyze lib test

      - name: Run tests
        run: flutter test --no-pub --coverage --test-randomize-ordering-seed random

      - name: Check Code Coverage
        uses: VeryGoodOpenSource/very_good_coverage@v1.1.1
        with:
          path: very_good_project/packages/app_config_repository/coverage/lcov.info
